<div class="modal fade" id="new_album" tabindex="-1" aria-labelledby="new_album_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new_album_label"><i class="fa-regular fa-file"></i> New Album</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="album-name" class="col-form-label">Album Name:</label>
                        <input type="text" class="form-control" id="album-name">
                    </div>
                    <div class="mb-3">
                        <label for="desc-text" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="desc-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="create">Create</button>
            </div>
        </div>
    </div>
</div>