<footer style="
background-color: black;
color: #9f9f9f;
text-align: center;
">

    <p>{#slogan}</p>

</footer>

<script src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.js'></script>
<script src='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/lightgallery.umd.js'></script>
<script src='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/plugins/zoom/lg-zoom.umd.js'></script>
<script src='https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/js/jquery.justifiedGallery.js'></script>
<script src='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/plugins/thumbnail/lg-thumbnail.umd.js'></script>
<script id="rendered-js">
    jQuery("#animated-thumbnails-gallery").
        justifiedGallery({
            captions: false,
            lastRow: "nojustify",
            rowHeight: 200,
            margins: 5
        }).

        on("jg.complete", function () {
            window.lightGallery(
                document.getElementById("animated-thumbnails-gallery"),
                {
                    autoplayFirstVideo: false,
                    pager: false,
                    galleryId: "nature",
                    plugins: [lgZoom, lgThumbnail],
                    mobileSettings: {
                        controls: false,
                        showCloseIcon: false,
                        download: false,
                        rotate: false
                    },
                    backgroundColor: "#FFF"
                });



        });
//# sourceURL=pen.js
</script>

<script src="/resources/js/linq.js" crossorigin="anonymous" defer></script>
<script src="/resources/js/lychee.js" crossorigin="anonymous" defer></script>