<footer style="
background-color: black;
color: #9f9f9f;
text-align: center;
">

    <p>{#slogan}</p>

</footer>

<script src="/resources/vendor/bootstrap/js/bootstrap.min.js" crossorigin="anonymous" defer></script>
<script src="/resources/vendor/justifiedGallery/jquery.justifiedGallery.min.js"></script>
<script src="/resources/js/linq.js" crossorigin="anonymous" defer></script>
<script src="/resources/js/lychee.js" crossorigin="anonymous" defer></script>

<script>
    $('#animated-thumbnails-gallery').justifiedGallery({
        rowHeight: 160,
        lastRow: 'nojustify',
        margins: 6
    });
</script>