
<footer class="footer text-muted">
    <div class=container-xxl>
        <div class="row other-products">
            <div class=col>
                <div class=other-products-item-content>
                    <h5>ParityDeals</h5>
                    <p>Optimize pricing across contries to maximize revenue</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script
    src="/resources/vendor/main.js"
    integrity="sha512-2CwSIx5H2pJHMJ1aR5i4er8rIsUCv7qGkvHgtiB8iA26UoUScTynsmYQnJqMP+bXI31Y4mZi9sCgMDxdMss43Q=="
    crossorigin=anonymous defer></script>