<meta charset=utf-8>
<meta http-equiv=x-ua-compatible content="ie=edge">
<meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name=robots content="index, follow">
<meta name=googlebot content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta name=bingbot content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<title>{$title}</title>
<meta name=description content="{#slogan}">
<link rel=canonical href="https://lychee.xieguigang.me/" />
<meta name=twitter:card content="summary_large_image">
<meta name=twitter:image content="https://www.lightgalleryjs.com/lightgallery.png">
<meta name=twitter:title content="lightGallery">
<meta name=twitter:description content="{#slogan}">
<meta name=twitter:site content="@sachinchoolur">
<meta name=twitter:creator content="@sachinchoolur">
<meta property="og:title" content="lightGallery">
<meta property="og:description" content="{#slogan}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.lightgalleryjs.com/">
<meta property="og:image" content="https://www.lightgalleryjs.com/lightgallery.png">
<meta property="og:updated_time" content="2023-12-23T11:10:22+05:30">
<meta property="og:site_name" content="lightGallery">
<meta property="article:publisher" content="https://www.facebook.com/sachinchoolur">
<meta property="article:author" content="https://www.facebook.com/sachinchoolur">
<meta property="og:locale" content="en_US">
<link rel=alternate type=application/rss+xml href=https://www.lightgalleryjs.com/index.xml>
<meta name=ahrefs-site-verification content="96bd744dcfe6c078a1994c8d9e0e0ca6a5cf16004f63946a0cd349ca937c1b24">
<meta name=theme-color content="#fff">
<link rel=apple-touch-icon sizes=180x180 href="/resources/images/apple-touch-icon.png">
<link rel=icon type=image/png sizes=32x32 href="/favicon.png">
<link rel=icon type=image/png sizes=16x16 href="/resources/images/favicon-16x16.png">
<link rel=manifest href="/site.webmanifest">

<link rel="preload" as="font" href="/resources/assets/fonts/HelveticaNowDisplay-Regular.woff2" type="font/woff2"
    crossorigin>
<link rel="preload" as="font" href="/resources/assets/fonts/HelveticaNowDisplay-Medium.woff2" type="font/woff2"
    crossorigin>
<link rel="stylesheet"
    href="/resources/assets/main.629d82daf81d29d4f0d5014abbb1ab36945f1b865b4fed115399e6f3006d663ea0da7f1c89e69db6811395bd75b25182efa539a40109823352926f2675ea9151.css"
    crossorigin="anonymous">

<link rel="stylesheet" href="/resources/vendor/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="/resources/vendor/lightGallery/css/lightgallery-bundle.min.css">
<link rel="stylesheet" href="/resources/vendor/lightGallery/css/lg-transitions.css">
<noscript>
    <style>
        img.lazyload {
            display: none
        }
    </style>
</noscript>

<link rel="stylesheet" href="/resources/vendor/fontawesome/css/all.min.css">