<header id=nav-header class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class=container-fluid>
        <a class="navbar-brand monospace" href="/gallery" />
        Gallery
        </a>

        <div class="collapse navbar-collapse" id=navbarSupportedContent>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class=nav-item>
                    <a class=nav-link href="/album/new/"><i class="fa-solid fa-plus"></i> New Album</a>
                </li>
                <li class=nav-item>
                    <a class=nav-link href="/album/upload/"><i class="fa-solid fa-cloud-arrow-up"></i> Upload</a>
                </li>
                <li class=nav-item>
                    <a class=nav-link href="/album/settings/"><i class="fa-solid fa-gears"></i> Settings</a>
                </li>
                <li class="nav-item nav-item-social">
                    <a onclick="" target=_blank class=nav-link href="/album/street_map/">
                        <i class="fa-solid fa-map-location-dot"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>