<!doctype html>
<html lang=en-us>

<head>

    ${includes/head.html}

    <meta name="app" content="album" />
    <!--引入CSS-->
    <link rel="stylesheet" type="text/css" href="/resources/vendor/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/resources/assets/upload.css">

    <script src="/resources/vendor/jquery-3.7.1.min.js"></script>
    <script src="/resources/vendor/webuploader/webuploader.min.js"></script>

    <style>
        .banner {
            height: 100%;
            background-image: url('/resources/images/default_splash.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>

    ${includes/nav.html}


    <div class="container-fluid main-page">
        <div class="row justify-content-center hero-section banner">
            <div class="col-lg-6 text-center">
                <h1 class=main-title>{$album_title}</h1>
                <h4 class=sub-title>{$album_desc}</h4>
            </div>
        </div>
    </div>

    <br />

    <div class=container-fluid>
        <div class="row justify-content-center clip-path-bg">
            <div class="col-lg-12 text-center clip-path-bg-inner">
                <div class="gallery-demo">
                    <div id="animated-thumbnails-gallery">


                        <foreach @image>

                            <a data-tweet-text='@image["name"]' class="gallery-item"
                                data-src='/gallery/image?q=large&id=@image["id"]' data-sub-html='@image["desc"]'>
                                <img class="img-responsive" src='/gallery/image?q=thumbnail&id=@image["id"]'>
                            </a>

                        </foreach>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <br />

    ${modals/new_album.html}
    ${modals/upload_images.html}

    ${includes/footer.html}

</body>

</html>