<!doctype html>
<html lang=en-us>

<head>


    ${includes/head.html}

    <style>
        body,
        html {
            height: 100vh;
        }

        @keyframes shrink {
            0% {
                background-size: 150% 150%;
            }

            100% {
                background-size: 100% 100%;
            }
        }
    </style>

</head>

<body>


    <div class="container-fluid main-page" style="height:100vh;">
        <div class="row justify-content-center hero-section" style="height:100vh;
            background-image: url('/resources/images/default_splash.jpg'); 
            background-repeat: no-repeat;
            background-size: 150% 150%;
            background-position: center center;
            animation: shrink 15s infinite alternate;            
            transition: all 1s ease-in;">
            <div class="col-lg-6 text-center">
                <h4 class=sub-title>{#slogan}</h4>
            </div>
        </div>
    </div>


    ${includes/footer.html}

</body>

</html>