<!doctype html>
<html lang=en-us>

<head>
    <meta charset=utf-8>
    <meta http-equiv=x-ua-compatible content="ie=edge">
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name=robots content="index, follow">
    <meta name=googlebot content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name=bingbot content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <title>{$title}</title>
    <meta name=description
        content="A lightweight, modular, JavaScript image and video lightbox gallery plugin. Available for React.js, Vue.js, Angular, and TypeScript.">
    <link rel=canonical href=https://www.lightgalleryjs.com />
    <meta name=twitter:card content="summary_large_image">
    <meta name=twitter:image content="https://www.lightgalleryjs.com/lightgallery.png">
    <meta name=twitter:title content="lightGallery">
    <meta name=twitter:description
        content="A lightweight, modular, JavaScript image and video lightbox gallery plugin. Available for React.js, Vue.js, Angular, and TypeScript.">
    <meta name=twitter:site content="@sachinchoolur">
    <meta name=twitter:creator content="@sachinchoolur">
    <meta property="og:title" content="lightGallery">
    <meta property="og:description"
        content="A lightweight, modular, JavaScript image and video lightbox gallery plugin. Available for React.js, Vue.js, Angular, and TypeScript.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.lightgalleryjs.com/">
    <meta property="og:image" content="https://www.lightgalleryjs.com/lightgallery.png">
    <meta property="og:updated_time" content="2023-12-23T11:10:22+05:30">
    <meta property="og:site_name" content="lightGallery">
    <meta property="article:publisher" content="https://www.facebook.com/sachinchoolur">
    <meta property="article:author" content="https://www.facebook.com/sachinchoolur">
    <meta property="og:locale" content="en_US">
    <link rel=alternate type=application/rss+xml href=https://www.lightgalleryjs.com/index.xml>
    <meta name=ahrefs-site-verification content="96bd744dcfe6c078a1994c8d9e0e0ca6a5cf16004f63946a0cd349ca937c1b24">
    <meta name=theme-color content="#fff">
    <link rel=apple-touch-icon sizes=180x180 href=https://www.lightgalleryjs.com/apple-touch-icon.png>
    <link rel=icon type=image/png sizes=32x32 href=https://www.lightgalleryjs.com/favicon-32x32.png>
    <link rel=icon type=image/png sizes=16x16 href=https://www.lightgalleryjs.com/favicon-16x16.png>
    <link rel=manifest href=https://www.lightgalleryjs.com/site.webmanifest>

    ${includes/head.html}

    <style>
        body,
        html {
            height: 100vh;
        }

        @keyframes shrink {
            0% {
                background-size: 150% 150%;
            }

            100% {
                background-size: 100% 100%;
            }
        }
    </style>

</head>

<body>


    <div class="container-fluid main-page" style="height:100vh;">
        <div class="row justify-content-center hero-section" style="height:100vh;
            background-image: url('/resources/images/default_splash.jpg'); 
            background-repeat: no-repeat;
            background-size: 150% 150%;
            background-position: center center;
            animation: shrink 15s infinite alternate;            
            transition: all 1s ease-in;">
            <div class="col-lg-6 text-center">
                <h1 class=main-title>lightGallery</h1>
                <h4 class=sub-title>A lightweight, modular, JavaScript image and video lightbox gallery plugin.
                    Available for React.js, Vue.js, Angular, and TypeScript.</h4>
                <a href=https://github.com/sachinchoolur/lightGallery
                    class="btn btn-lg btn-outline-primary get-started-btn">View on GitHub</a>
            </div>
        </div>
    </div>


    ${includes/footer.html}

</body>

</html>